body{
    background-image: url(1.jpg);
    background-repeat: no-repeat;  
    background-size: 100%;
    padding-top: 4em;
   

}

.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.board{
    
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-align: center;
    border: 8px solid black;
    width: 35em;
    height: 35em;
    position: relative;
}

#str-btn , #check-btn {
    font-size: 2em;
    border-radius: 5px;
    background-color: floralwhite;
    border: 3px solid rebeccapurple;

}

.common{
    border: none;
}


.commoninp{
    position: relative;
    width: 90%;
    height: 90%;  
    text-align: center;
    border: 1px solid black;
    font-size: 2.4em;

}

.demo1:nth-child(3n+0) ,.demo2:nth-child(3n+0) , .demo3:nth-child(3n+0) ,
.demo4:nth-child(3n+0) ,.demo5:nth-child(3n+0) ,.demo6:nth-child(3n+0) ,
.demo7:nth-child(3n+0) ,.demo8:nth-child(3n+0) ,.demo9:nth-child(3n+0) 

{
    border-right: 4px solid black;
}

.demo3 , .demo6 , .demo9 {
    border-bottom: 4px solid black;
}



.commoninp:disabled{
    background-color: wheat;
    color: black;
}

#final{
    font-size: 2.4em;
    text-align: center;
    margin-top: 0.3em;
    
}

